trigger: none 

pool: Agent


#Scanning/Linting, Build, Deploye
stages:
  # - stage: ScanLint
  #   displayName: Scaning-Linting
  #   jobs:
  #     - job: Lint
  #       displayName: linting
  #       steps:
  #         - task: NodeTool@0
  #           inputs:
  #             versionSource: 'spec'
  #             versionSpec: '17.x'
  #             checkLatest: true
  #         - task: Bash@3
  #           continueOnError: true
  #           inputs:
  #             targetType: 'inline'
  #             script: |
  #               npm install --save-dev --save-exact @biomejs/biome
  #               npx @biomejs/biome check --write
  #             workingDirectory: '$(System.DefaultWorkingDirectory)'
  #     - job: Scan
  #       dependsOn: Lint
  #       displayName: Scanning
        # steps:
  #         - task: Gitleaks@3
  #           inputs:
  #             scanlocation: '$(Build.SourcesDirectory)'
  #             configtype: 'default'
  #             reportformat: 'csv'        
          # - task: NodeTool@0
          #   inputs:
          #     versionSource: 'spec'
          #     versionSpec: '17.x'
          # - task: Bash@3
          #   inputs:
          #     targetType: 'inline'
          #     script: |
          #       npm install -g retire
          #       npm install
          #       retire --exitwith code 0

  - stage: Build
    displayName: BuildStage
    jobs:
      - job: Build
        steps:
          - task: NodeTool@0
            displayName: nodeJSInstall
            inputs:
              versionSource: 'spec'
              versionSpec: '17.x'
              checkLatest: true
          - task: Npm@1
            displayName: NPMInstall
            inputs:
              command: 'install'
              workingDir: '$(System.DefaultWorkingDirectory)'
          - task: Npm@1
            displayName: build creation
            inputs:
              command: 'custom'
              workingDir: '$(System.DefaultWorkingDirectory)'
              customCommand: 'run build'
          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: 'build'
              ArtifactName: 'drop'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: DeployeTodo
    jobs:
      - job: 
        steps:
          - task: DownloadBuildArtifacts@1
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'drop'
              downloadPath: '$(System.ArtifactsDirectory)'
              cleanDestinationFolder: true
          - task: CopyFilesOverSSH@0
            inputs:
              sshEndpoint: 'sanjay_v1'
              sourceFolder: '$(System.ArtifactsDirectory)'
              contents: '**'
              targetFolder: '/home/sanjay/app'
              readyTimeout: '20000'
          - task: SSH@0
            inputs:
              sshEndpoint: 'sanjay_v1'
              runOptions: 'commands'
              commands: |
                export DEBIAN_FRONTEND=noninteractive
                sudo apt-get update
                sudo apt-get install nginx -y
                cp -r /home/sanjay/app/* /var/www/html
              readyTimeout: '20000'
          



















































# stages:
#   # - stage: SoftwareCompositionAnalysis
#   #   displayName: Software Composition Analysis (Dependency Security)
#   #   jobs:
#   #     - job: DependencyVulnerabilityScan
#   #       displayName: Dependency Vulnerability Scan (Retire.js)
#   #       steps:
#   #         - task: PowerShell@2
#   #           displayName: Run Dependency Security Scan
#   #           inputs:
#   #             targetType: 'inline'
#   #             script: |
#   #               npm install -g retire
#   #               npm install
#   #               retire --exitwith 0

#   - stage: CodeQualityChecks
#     displayName: Code Quality & Linting
#     jobs:
#       - job: lintingcheck
#         displayName: Multi-Language Linting Checks
#         steps:
#         # - task: PowerShell@2
#         #   continueOnError: true
#         #   displayName: JavaScript Linting (Biome)
#         #   inputs:
#         #     targetType: 'inline'
#         #     script: |
#         #       $biomePath = "$(Agent.ToolsDirectory)\biome.exe"

#         #       Invoke-WebRequest `
#         #       -Uri "https://github.com/biomejs/biome/releases/download/%40biomejs%2Fbiome%402.3.8/biome-win32-x64.exe" `
#         #       -OutFile $biomePath

#         #        & "$biomePath" lint "$(System.DefaultWorkingDirectory)/src"
          
#         - task: PowerShell@2
#           continueOnError: true
#           displayName: CSS Linting (Stylelint) 
#           inputs:
#             targetType: 'inline'
#             script: |
#               npm install -g stylelint
#               npm install -g stylelint-config-standard        
#               stylelint $(System.DefaultWorkingDirectory)/src --config stylelint.config.mjs

#   #       - task: PowerShell@2
#   #         continueOnError: true
#   #         displayName: YAML Linting (yamllint) 
#   #         inputs:
#   #           targetType: 'inline'
#   #           script: |
#   #             pip install --user yamllint
#   #             yamllint $(System.DefaultWorkingDirectory)

#   #       - task: PowerShell@2
#   #         continueOnError: true
#   #         displayName: Markdown Linting (markdownlint) 
#   #         inputs:
#   #           targetType: 'inline'
#   #           script: |
#   #             npm install -g markdownlint-cli      
#   #             markdownlint $(System.DefaultWorkingDirectory)/
  
#   # - stage: BuildAndPackage
#   #   displayName: Build & Artifact Packaging
#   #   jobs:
#   #     - job: ApplicationBuild
#   #       displayName: Application Build
#   #       steps:
#   #       - task: NodeTool@0
#   #         displayName: Setup Node.js Environment
#   #         inputs:
#   #           versionSource: 'spec'
#   #           versionSpec: '16.x'
#   #       - task: Npm@1
#   #         displayName: Install Dependencies
#   #         inputs:
#   #           command: 'install'
#   #           workingDir: '$(System.DefaultWorkingDirectory)'
#   #       - task: Npm@1
#   #         displayName: Build Application
#   #         inputs:
#   #           command: 'custom'
#   #           workingDir: '$(System.DefaultWorkingDirectory)'
#   #           customCommand: 'run build'
#   #       - task: PublishBuildArtifacts@1
#   #         displayName: Publish build artifact
#   #         inputs:
#   #           # PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#   #           PathtoPublish: 'build'
#   #           ArtifactName: 'artifactv1'
#   #           publishLocation: 'Container'
        
