trigger: none 

pool: SAgent

jobs:
  - job: 
    displayName: NodeInstall
    steps:
    - task: NodeTool@0
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
  - job: 
    displayName: Build
    steps:
    - task: Npm@1
      inputs:
        command: 'install'
