trigger: none 

pool: SAgent

jobs:
  - job: 
    displayName: NodeInstall
    steps:
    - task: NodeTool@0
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
    - task: Npm@1
      displayName: npmInstall
      inputs:
        command: 'install'
        workingDir: '$(System.DefaultWorkingDirectory)'
    - task: Npm@1
      displayName: npmRunBuild
      inputs:
        command: 'custom'
        workingDir: '$(System.DefaultWorkingDirectory)'
        customCommand: 'run build'
    - task: PublishBuildArtifacts@1
      displayName: Publish build artifact
      inputs:
        # PathtoPublish: '$(Build.ArtifactStagingDirectory)/build'
        PathtoPublish: 'build'
        ArtifactName: 'artifactv1'
        publishLocation: 'Container'
    
